:root {
	
	--white: #ffffff;
  }
body {
	
	background-color: #45474B;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'Courier New', monospace;
	margin: 0px;
	padding: 0px;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;

}

.text-overlay{
	
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	margin: auto;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
	

}
.search-panel{
	text-align: center;
}
#searchBox{

	height:40px;
	width: 80%;
	border-radius:15px;
	padding:5px;
	margin: 10px;
	text-align: center;
	font-size: 1.3rem;
	opacity: 1;

	
}
#searchBtn{
	width: 40%;
	height: 40px;
	border-radius:15px;
	border-color: #0A2647;
	background-color: #2C74B3;
	color: white;
	font-size: 1.2rem;

}
header{
	position: sticky;
	height: 3rem;
	background:#495E57;
	color: #fff;
	width: 100%;
	
}

#formattedAddress{
	padding: 0;
	margin: 10px;
}


#row{
	display: flex;
	flex-direction: row;
}

a{
	color: whitesmoke;
	
}

#weatherPanel{
	display: flex;
	flex-direction: column;
	justify-content:stretch;
	border-radius: 15px;
	color : white;
}

#WeatherPanel div{
	background-color: rgba(0,0,0,0.8);
}
#weatherPanel p{
	padding: 5px;
	

}
#weatherTemp{
	color: #FFD93D;
	font-size: 2.8rem;
	margin-top: 12px;
	margin-bottom: 5px;
	
	
}
#weatherIcon{
	width: 80px;
	margin-bottom: 0;
	

}
#column-1{
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
}
#column-2{
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow: auto;
	white-space: nowrap;
	font-size: .7em;
	background-color: rgba(0,0,0,0.4);
	border-radius: 15px;
}

.dailyWeatherItem{
	flex:1;
	display: flex;
	flex-direction: column;
	min-width: 80px;
	
	
}
.dailyWeatherItem p{
	width: 100%;
	margin: 0 0 0 0;
}
.dailyWeatherItemImg{
	width: 100%;
	margin: 0 0 0 0;
	
}
#row-1{
	display: flex;
	flex-direction: row;
	
}
#row-2{
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-between;
	font-size: .8em;
}
#row-2 *{
	margin-top: 0;
}
#summary{
	margin-top: 0;
}
#feelsLike{
	margin-top: 0;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	border-radius:10px;
	padding: 10px;
	
}
@media only screen and (min-device-width: 600px) {
	body{
		/* width: 50%; */
	}
	#weatherPanel{
		/* display: flex; */
		
	}
	#column-2{
		
	}
}